<a href="https://colab.research.google.com/github/RohitJaiswal01/Data_Visualisation_Air_BNB_Python_Tableau_project/blob/main/Air_BNB_Python_Tableau_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - Air_BNB_Python_Tableau Data Visualization Project

##### **Project Type**    - EDA with Python, Tableau Prep and Tableau Public
##### **Contribution**    - Individual
**Name** - **Rohit Jaiswal**

# **Project Summary -**

For this EDA project, we have chosen the "Airbnb Listings Data" dataset from 2 major cities: Chicago and New Orleans. This dataset provides a comprehensive snapshot of various attributes related to Airbnb listings, such as property type, neighbourhood, pricing, availability, and more. The dataset is ideal for conducting an in-depth exploration of the local Airbnb market and deriving actionable insights.

How we have proceed with the dashboard:

**Data Cleaning**

Begin by addressing the disorder and inconsistency within the dataset. Utilise Google Collab Notebook and Tableau Prep to systematically cleanse the data, rectifying discrepancies, eliminating duplicates, and standardising formats.


**Data Transformation**

Generate supplementary columns by utilising pre-existing categorical data. These columns will be derived from extensive descriptive text, which, in its original form, proved arduous to comprehend and unsuitable for visualization purposes. The extra columns that we created gave a much clear sense of how to approach and make an effective visualization.

**Tableau**

Employ Tableau Prep to leverage its distinctive "Group and Replace" feature. Under the column denoted as Neighbourhood there are instances where identical entities are variably represented due to disparities in letter casing, spelling variations, or phonetic similarity. The "Group and Replace" algorithm inherent to Tableau Prep proved instrumental in mitigating this issue.

# **GitHub Link -**

https://github.com/RohitJaiswal01/Data_Visualisation_Air_BNB_Python_Tableau_project

# **Problem Statement**

In the context of Airbnb operations, how can the utilisation of Python, Tableau Prep, Tableau facilitate a comprehensive comparative examination between Chicago and New Orleans, two diverse urban environments?

This inquiry seeks to leverage Tableau's visual analytics capabilities to uncover and illustrate the shared attributes, disparities, and distinctive patterns inherent to Airbnb's presence in these cities, thus elevating the depth and insightfulness of the study.

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
# Import Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Dataset Loading

In [ ]:
# Load Dataset
# Loading the repository files from the github to collab
!git clone https://github.com/RohitJaiswal01/Data_Visualisation_Air_BNB_Python_Tableau_project.git

# Giving a path to the files
Chicago_listings_path = "/content/Data_Visualisation_Air_BNB_Python_Tableau_project/Chicago_listings.csv"
New_Orleans_listings_path = "/content/Data_Visualisation_Air_BNB_Python_Tableau_project/New_Orleans_listings.csv"

Cloning into 'Data_Visualisation_Air_BNB_Python_Tableau_project'...
remote: Enumerating objects: 21, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (20/20), done.
remote: Total 21 (delta 5), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (21/21), 1.67 MiB | 7.83 MiB/s, done.
Resolving deltas: 100% (5/5), done.

In [ ]:
# Load Dataset from the loaded repository files
Chicago_listings = pd.read_csv(Chicago_listings_path)
New_Orleans_listings = pd.read_csv(New_Orleans_listings_path)

### Dataset First View

In [ ]:
# New Orleans Dataset First Look
New_Orleans_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,19091,Rental unit in New Orleans · ★4.89 · 1 bedroom...,72880,John,NaN,Leonidas,29.96100,-90.11950,Entire home/apt,60,1,503,2023-11-06,3.03,1,0,7,"22-RSTR-14107, 22-OSTR-14105"
1,71624,Rental unit in New Orleans · ★4.94 · 1 bedroom...,367223,Susan,NaN,Bywater,29.96153,-90.04364,Entire home/apt,150,3,293,2023-10-23,1.88,1,336,17,"21-RSTR-18609, 22-OSTR-20720"
2,74498,Rental unit in New Orleans · ★4.90 · 1 bedroom...,391462,Georgia,NaN,St. Roch,29.96986,-90.05172,Entire home/apt,91,3,603,2023-11-19,3.89,3,237,40,"Exempt: This listing is a licensed hotel, mote..."
3,79536,Rental unit in New Orleans · ★4.89 · 1 bedroom...,428362,Miriam,NaN,Seventh Ward,29.97803,-90.07450,Entire home/apt,31,14,702,2023-11-26,4.58,1,0,102,"21-RSTR-18550, 21-OSTR-18392"
4,79609,Guest suite in New Orleans · ★4.96 · 2 bedroom...,428909,Stephen,NaN,St. Claude,29.96448,-90.03667,Private room,119,3,487,2023-11-28,3.14,1,296,39,"23-ISTR-02823, 23-OSTR-02823"

In [ ]:
# Chicago Dataset First Look
Chicago_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,70.0,3,229,2023-10-31,2.10,1,362,19,R17000015609
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,NaN,West Town,41.90166,-87.68021,Entire home/apt,90.0,2,512,2023-10-09,2.91,1,335,36,R21000075737
2,10945,Rental unit in Chicago · ★4.63 · 2 bedrooms · ...,33004,At Home Inn,NaN,Lincoln Park,41.91196,-87.63981,Entire home/apt,106.0,4,78,2023-11-06,0.66,5,225,19,2209984
3,1461451,Rental unit in Chicago · ★4.60 · 1 bedroom · 1...,2907254,Joe,NaN,West Ridge,42.01653,-87.68788,Shared room,28.0,1,188,2023-11-21,1.49,15,180,10,R21000075752
4,1502674,Rental unit in Chicago · ★4.79 · 2 bedrooms · ...,33004,At Home Inn,NaN,Lincoln Park,41.91175,-87.63834,Entire home/apt,146.0,4,110,2023-12-10,0.88,5,0,27,2209985

### Dataset Rows & Columns count

In [ ]:
# New Orleans Dataset Rows & Columns count
New_Orleans_listings.shape

(7075, 18)

In [ ]:
# Chicago Dataset Rows & Columns count
Chicago_listings.shape

(8949, 18)

### Dataset Information

In [ ]:
# New Orleans Dataset Info
New_Orleans_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7075 entries, 0 to 7074
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              7075 non-null   int64
 1   name                            7075 non-null   object
 2   host_id                         7075 non-null   int64
 3   host_name                       7075 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   7075 non-null   object
 6   latitude                        7075 non-null   float64
 7   longitude                       7075 non-null   float64
 8   room_type                       7075 non-null   object
 9   price                           7075 non-null   int64
 10  minimum_nights                  7075 non-null   int64
 11  number_of_reviews               7075 non-null   int64
 12  last_review                     5944 non-null   object
 13  reviews_per_month               5944 non-null   float64
 14  calculated_host_listings_count  7075 non-null   int64
 15  availability_365                7075 non-null   int64
 16  number_of_reviews_ltm           7075 non-null   int64
 17  license                         5776 non-null   object
dtypes: float64(4), int64(8), object(6)
memory usage: 995.0+ KB

In [ ]:
# Chicago Dataset Info
Chicago_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8949 entries, 0 to 8948
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              8949 non-null   int64
 1   name                            8949 non-null   object
 2   host_id                         8949 non-null   int64
 3   host_name                       8949 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   8949 non-null   object
 6   latitude                        8949 non-null   float64
 7   longitude                       8949 non-null   float64
 8   room_type                       8949 non-null   object
 9   price                           8338 non-null   float64
 10  minimum_nights                  8949 non-null   int64
 11  number_of_reviews               8949 non-null   int64
 12  last_review                     7042 non-null   object
 13  reviews_per_month               7042 non-null   float64
 14  calculated_host_listings_count  8949 non-null   int64
 15  availability_365                8949 non-null   int64
 16  number_of_reviews_ltm           8949 non-null   int64
 17  license                         7278 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 1.2+ MB

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count for New Orleans
print("Number of duplicate rows in New Orleans:",New_Orleans_listings.duplicated().sum())

New_Orleans_listings.drop_duplicates(inplace=True)

Number of duplicate rows in New Orleans: 0

In [ ]:
# Dataset Duplicate Value Count for Chicago
print("Number of duplicate rows in Chicago:",Chicago_listings.duplicated().sum())

Chicago_listings.drop_duplicates(inplace=True)

Number of duplicate rows in Chicago: 0

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count in New Orleans dataset
New_Orleans_listings.isnull().sum()

id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood_group               7075
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       1131
reviews_per_month                 1131
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           1299
dtype: int64

In [ ]:
# Missing Values/Null Values Count in Chicago dataset
Chicago_listings.isnull().sum()

id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood_group               8949
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                              611
minimum_nights                       0
number_of_reviews                    0
last_review                       1907
reviews_per_month                 1907
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           1671
dtype: int64

### What did you know about your dataset?

The Airbnb Listings Data contains information about different properties available for rent on Airbnb in a specific city. Each record represents a unique listing and includes attributes such as property type, neighbourhood, number of bedrooms, pricing, availability, host information, and more.

There are no duplicate rows in our dataset.

The last_review and reviews_per_month column may have null values because of 0 number_of_reviews for that listing, hence the listing having 0 reviews don't have last review or reviews per month value.

Last_review was in object datatype, while should be in datetime dtype

## ***2. Understanding Your Variables***

In [ ]:
# New Orleans Dataset Columns
New_Orleans_listings.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [ ]:
# Chicago Dataset Columns
Chicago_listings.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [ ]:
# Dataset Describe for New Orleans
New_Orleans_listings.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,7.075000e+03,7.075000e+03,0.0,7075.000000,7075.000000,7075.000000,7075.000000,7075.000000,5944.000000,7075.000000,7075.000000,7075.000000
mean,3.311980e+17,1.894689e+08,NaN,29.958587,-90.074019,206.593922,12.376961,63.018799,1.752934,13.148975,162.713074,13.595053
std,4.035353e+17,1.728363e+08,NaN,0.024083,0.030882,281.714131,19.891839,94.675786,1.693590,23.187869,130.677640,21.203788
min,1.909100e+04,9.710000e+02,NaN,29.897680,-90.137480,11.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,2.586572e+07,3.761466e+07,NaN,29.942259,-90.089765,95.000000,2.000000,3.000000,0.570000,1.000000,28.000000,0.000000
50%,4.912744e+07,1.216825e+08,NaN,29.958955,-90.073486,139.000000,2.000000,27.000000,1.420000,3.000000,152.000000,5.000000
75%,7.423690e+17,3.429100e+08,NaN,29.969800,-90.062535,235.000000,30.000000,88.000000,2.462500,12.000000,293.000000,21.000000
max,1.037102e+18,5.488747e+08,NaN,30.161040,-89.737090,10000.000000,365.000000,1605.000000,38.850000,111.000000,365.000000,522.000000

In [ ]:
# Dataset Describe for Chicago
Chicago_listings.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,8.949000e+03,8.949000e+03,0.0,8949.000000,8949.000000,8338.000000,8949.000000,8949.000000,7042.000000,8949.000000,8949.000000,8949.000000
mean,4.189903e+17,1.829973e+08,NaN,41.892335,-87.661974,173.167786,15.881439,46.773159,1.834915,55.985361,189.932283,12.933624
std,4.246817e+17,1.708264e+08,NaN,0.062265,0.043951,1112.349527,41.144839,89.977542,1.858998,164.076829,140.088536,20.119904
min,2.384000e+03,2.153000e+03,NaN,41.646767,-87.847243,7.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,3.743244e+07,3.534246e+07,NaN,41.862740,-87.685360,70.250000,2.000000,1.000000,0.480000,1.000000,45.000000,0.000000
50%,5.585691e+17,1.082110e+08,NaN,41.896218,-87.657240,115.000000,2.000000,14.000000,1.490000,3.000000,180.000000,4.000000
75%,8.471068e+17,3.277096e+08,NaN,41.935150,-87.630250,178.000000,32.000000,55.000000,2.710000,19.000000,339.000000,21.000000
max,1.048046e+18,5.493780e+08,NaN,42.022200,-87.528420,99998.000000,1125.000000,3501.000000,56.200000,643.000000,365.000000,596.000000

### Variables Description

**Key Attributes**:

1. id: Unique identifier for each listing.

2. name: The title or name of the listing.

3. host_id: Unique identifier for the host of the property.

4. host_name: Name of the host.

5. neighbourhood_group: The broader area or group that the neighbourhood belongs to.

6. neighbourhood: Specific neighbourhood where the property is located.

7. latitude: Latitude coordinate of the property.

8. longitude: Longitude coordinate of the property.

9. room_type: Type of room (e.g., Private room, Entire home/apt, Shared room).

10. price: Price of the listing per night.

11. minimum_nights: Minimum number of nights required for booking.

12. number_of_reviews: Total number of reviews received for the listing.

13. last_review: Date of the last review.

14. reviews_per_month: Average number of reviews per month.

15. availability_365: Number of days the listing is available for booking in a year.

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
unique_counts_New_Orleans = New_Orleans_listings.nunique()
print(unique_counts_New_Orleans)

id                                7075
name                              3698
host_id                           3464
host_name                         1810
neighbourhood_group                  0
neighbourhood                       68
latitude                          5234
longitude                         5418
room_type                            4
price                              691
minimum_nights                      33
number_of_reviews                  438
last_review                        844
reviews_per_month                  634
calculated_host_listings_count      43
availability_365                   366
number_of_reviews_ltm              116
license                           4052
dtype: int64

In [ ]:
# Check Unique Values for each variable.
unique_counts_Chicago_listings = Chicago_listings.nunique()
print(unique_counts_Chicago_listings)

id                                8949
name                              3740
host_id                           3992
host_name                         2184
neighbourhood_group                  0
neighbourhood                       77
latitude                          7314
longitude                         7058
room_type                            4
price                              627
minimum_nights                      56
number_of_reviews                  428
last_review                        948
reviews_per_month                  667
calculated_host_listings_count      44
availability_365                   366
number_of_reviews_ltm              121
license                           4430
dtype: int64

## 3. ***Data Wrangling***

### Data Wrangling Code

**Append the datasets**

In [ ]:
# Appending the dataset vertically
All_listings = pd.concat([New_Orleans_listings,Chicago_listings], axis = 0,ignore_index=True)

In [ ]:
# Appending the dataset resulting in increase of rows
All_listings.shape

(16024, 18)

In [ ]:
# Any duplicate id values are not present in the dataset after merging
All_listings["id"].duplicated().sum()

0

In [ ]:
# Total null values in the dataset
All_listings.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group               16024
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                               611
minimum_nights                        0
number_of_reviews                     0
last_review                        3038
reviews_per_month                  3038
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                            2970
dtype: int64

In [ ]:
# Dropped the unnecessary columns
All_listings.drop(["neighbourhood_group","number_of_reviews_ltm","license"], axis = 1, inplace =True)

In [ ]:
# Removing Null values in name cand host_name column
All_listings.dropna(subset=['name',"host_name"], inplace =True)

In [ ]:
# Removing Null values in Price column
All_listings.dropna(subset=['price'], inplace =True)

In [ ]:
# Updated null values count
All_listings.isna().sum()

id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       2861
reviews_per_month                 2861
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [ ]:
# The listings having 0 reviews on AirBNB
# number_of_reviews = 0, be the reason behind null values in last_review and reviews_per_month column.
zero_reviews_Listing = All_listings[All_listings["number_of_reviews"]== 0][["number_of_reviews"]].count()
print(zero_reviews_Listing)

number_of_reviews    2861
dtype: int64

In [ ]:
# Replacing null values that are in column last_review and reviews_per_month column
All_listings.fillna(0, inplace = True)

In [ ]:
# Updated dataset null values
All_listings.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [ ]:
# Updated Dataset Shape
All_listings.shape

(15413, 15)

In [ ]:
# Save the DataFrame to a CSV file, excluding the index values
All_listings.to_csv('AirBNB_Tableau_Prep.csv', index=False)

### What all manipulations have you done and insights you found?

Appended the datasets on top of one another.

Some columns have been removed from the dataset.

Null values present in name and host name column are removed.

Null values present in name price column removed.

Null values in last_review and reviews per month replaced with zero.

Appended dataset All_listings have been saved named as AirBNB_Tableau_Prep in a csv format and is ready for transformation and analysis in Tableau Prep.